#lens-container-class {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%;
  text-align: center; }
  .doc-area:last-child {
    margin-right: 0; }

/*#lens-border rect{
	cursor: move;
}
*/
